body {
  background-color: #808080;
  font-family: "DejaVu Sans", sans-serif; }

header {
  background-color: #FFFFFF; }
  header form.search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px; }
    @media all and (min-width: 600px) {
      header form.search {
        float: right;
        box-sizing: border-box;
        width: 60%;
        padding: 30px;
        text-align: right; } }
  @media all and (min-width: 600px) {
    header img.logo {
      float: left;
      box-sizing: border-box;
      width: 40%;
      padding: 30px; } }

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: #FFFFFF; }

#premain {
  display: block;
  background-color: #D3D3D3; }
  #premain img.photorific {
    width: 100%;
    display: inline; }
    @media all and (min-width: 600px) {
      #premain img.photorific {
        width: 33.33%;
        float: left;
        overflow: hidden; } }

#main {
  display: block;
  line-height: 24px;
  padding: 0 30px; }
  @media all and (min-width: 600px) {
    #main {
      display: inline;
      float: left; }
      #main #content {
        background-color: #ADD8E6;
        box-sizing: border-box;
        padding: 20px;
        width: 75%;
        float: right; }
      #main #sidebar-left {
        background-color: #FFFFFF;
        box-sizing: border-box;
        padding: 20px;
        width: 25%;
        float: left; }
      #main #sidebar-right {
        background-color: #FFFFFF;
        box-sizing: border-box;
        padding: 20px;
        clear: both; } }

footer {
  background-color: #D3D3D3; }
  footer img.logo {
    width: 55%;
    padding: 10px 0; }

img.logo {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
  padding: 20px 0; }

@media all and (min-width: 600px) {
  ul.list {
    list-style: none;
    padding-left: 0;
    margin: 0; } }

ul.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }
  @media all and (min-width: 600px) {
    ul.menu {
      clear: both;
      padding: 5px 30px;
      background-color: #191970; } }
  @media (min-width: 600px) {
    ul.menu li {
      display: inline;
      padding: 0 5px 0 0; }
      ul.menu li:last-of-type {
        padding-right: 0; } }
  @media (min-width: 800px) {
    ul.menu li {
      padding-right: 30px; } }
  ul.menu li a {
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #191970;
    padding: 5px 30px;
    border-bottom: 1px solid #1E90FF;
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 24px; }
    @media (min-width: 600px) {
      ul.menu li a {
        display: inline;
        background-color: transparent;
        border-bottom: 0 none;
        font-size: 14px;
        padding: 0; } }
    @media (min-width: 800px) {
      ul.menu li a {
        font-size: 16px; } }

div.copyright {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 90%;
  padding: 10px 30px;
  text-align: center; }

/*# sourceMappingURL=layout.css.map */
