body {
	background-color: gray;
}

header {
	background-color: green;
	min-height: 200px;
}

#container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 500px;
	background-color: white;
}

#main {
	min-height: 500px;
}

footer {
	background-color: yellow;
	min-height: 200px;
}